.noContactsContainer {
  text-align: center;
  padding: 30px;
  margin-top: 20px;
  border: 1px dashed #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.noContactsMessage {
  font-size: 1.2em;
  color: #555;
  margin-bottom: 15px;
}

.noContactsIcon {
    width: 400px;
    height: 190px;
    opacity: 10;
}